@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* Adaptación de colores personalizados */
    --background: 240 100% 97%; /* #f7f9ff */
    --foreground: 210 22% 12%; /* #181c20 */
    --card: 240 100% 97%; /* #f7f9ff */
    --card-foreground: 210 22% 12%; /* #181c20 */
    --popover: 240 100% 97%; /* #f7f9ff */
    --popover-foreground: 210 22% 12%; /* #181c20 */
    --primary: 207 56.7% 34%; /* #28638a */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --secondary: 204 22.7% 41.6%; /* #50606e */
    --secondary-foreground: 0 0% 100%; /* #ffffff */
    --muted: 204 22.7% 41.6%; /* #50606e */
    --muted-foreground: 210 45% 50%; /* #22323f */
    --accent: 204 22.7% 41.6%; /* #50606e */
    --accent-foreground: 0 0% 100%; /* #ffffff */
    --destructive: 356 71% 41%; /* #ba1a1a */
    --destructive-foreground: 0 0% 100%; /* #ffffff */
    --border: 210 14% 77%; /* #dde3ea */
    --input: 210 14% 77%; /* #dde3ea */
    --ring: 210 22% 12%; /* #181c20 */
    --chart-1: 240 55% 56%; /* #96cdf8 */
    --chart-2: 215 44% 64%; /* #384956 */
    --chart-3: 202 100% 70%; /* #cae6ff */
    --chart-4: 241 44% 27%; /* #00344f */
    --chart-5: 356 100% 50%; /* #ffb4ab */
    --radius: 0.5rem;
  }

  .dark {
    --background: 207 100% 12%; /* #101417 */
    --foreground: 210 20% 98%; /* #e0e3e8 */
    --card: 207 100% 12%; /* #101417 */
    --card-foreground: 210 20% 98%; /* #e0e3e8 */
    --popover: 207 100% 12%; /* #101417 */
    --popover-foreground: 210 20% 98%; /* #e0e3e8 */
    --primary: 210 35% 48%; /* #004b70 */
    --primary-foreground: 207 100% 12%; /* #00344f */
    --secondary: 204 44% 64%; /* #384956 */
    --secondary-foreground: 210 20% 98%; /* #b7c9d9 */
    --muted: 204 44% 64%; /* #384956 */
    --muted-foreground: 210 30% 78%; /* #d3e5f6 */
    --accent: 204 44% 64%; /* #384956 */
    --accent-foreground: 210 20% 98%; /* #b7c9d9 */
    --destructive: 0 71% 35%; /* #93000a */
    --destructive-foreground: 210 20% 98%; /* #ffdada */
    --border: 204 44% 64%; /* #384956 */
    --input: 204 44% 64%; /* #384956 */
    --ring: 210 100% 20%; /* #004b70 */
    --chart-1: 240 65% 54%; /* #cae6ff */
    --chart-2: 215 34% 70%; /* #22323f */
    --chart-3: 356 75% 66%; /* #ffb4ab */
    --chart-4: 220 60% 12%; /* #00344f */
    --chart-5: 356 80% 60%; /* #93000a */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
